- category = Category.where(name: action_name).first
- articles = category.articles
- articles.reverse.each do |article|
  %h2
    =article.title
  %article
    =raw article.description
    =raw article.body

= form_tag("/message") do
  = label_tag("Имя:")
  = text_field_tag(:user_name)
  %br
  = label_tag("Почта:")
  = text_field_tag(:user_email)
  %br
  = label_tag("Сообщение")
  = text_area_tag(:message, "", size: "24x6")

  %br
  %br
  = submit_tag("Отправить")