.gallery
  - cat = Category.where(name: "#{action_name}").first
  - gallery = cat.products.order('created_at').reverse
  - gallery.map do |product|
    = link_to image_path(product.image), class: 'fancybox', rel: "gallery1", title: "#{product.name}, #{product.text}. #{product.year}" do
      =image_tag product.mini_image