!!!
%html
  %head
    %title Artpovar
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{src: "//code.jquery.com/jquery-1.9.1.js"}
    %script{src: "//code.jquery.com/ui/1.10.4/jquery-ui.js"}
    %script{src: "/gallery/js/blueimp-gallery.min.js"}
    %script{src: "http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"}
    %link{href: "http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css", rel: "stylesheet"}
    

  %body
    %header
      = link_to '', '/', class: 'logo'
      %aside
        #info
          .title
            Арт-Повар
            %br
            %span
              художник
            %br
            %h1
              Надежда Ильина
          .soc-icons
            =link_to '', '#', class: 'fb'
            =link_to '', '#', class: 'vk'
            
        %nav
          = render 'layouts/nav'
    %section
      #left_nav
        = render 'layouts/left_nav'
      #content
        = yield

    %footer
      %center
        %p
          Artpovar © 2014 Все права защищены