!!!
%html
  %head
    %title Artpovar
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/fancybox'

  %body{class: "#{action_name}"}
    %header
      #left
        .soc-icons
          =link_to '', '#', class: 'fb', target: '_blank'
          =link_to '', '#', class: 'vk', target: '_blank'
      #middle
        = link_to '', '/', class: 'logo'
      #right
        .telefon
          (812) 996-58-72
        .language
          RUS ENG
      %nav
        = render 'layouts/main_nav'
          
    %nav
      = render 'layouts/nav'
    %section
      #left_nav
        future left nav
      #content
        = yield

    %footer
      %p
        Использование материалов, размещенных на сайте, допускается только с согласия автора с обязательной ссылкой на источник.